.header-section{
    height: 85px;
    background-color: #03022c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 160px;
    position: sticky;
    top: 0;
    
}


.header-section a{
    color: white;
    text-decoration: none;
    padding-left: 55px;
    font-size: 18px;
  
}

.header-section a:hover{
    color: #0e9eff;   
}

.btn-logout{
    color: rgb(255, 255, 255);
    background-color: #058eea;
    margin-left: 55px;
    padding: 8px 15px;
    border: 0px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
}
.btn-logout:hover{
    color: rgb(252, 252, 252);
    font-weight: 600;
    font-size: 16px;
    background-color: #0573bd;
}
   



